<!DOCTYPE html>
<html ng-app="appTransferenciasBancoNix">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Transferências Banco NIX</title>
    
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="manifest" href="manifest.json">

    <!-- Materialize UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Transferências Banco NIX">
    <link rel="apple-touch-icon" href="images/banconix-logo-152x152.png">
    <meta name="msapplication-TileImage" content="images/banconix-logo-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
    
    <!-- Angular LIB -->
    <script src="lib/angular.min.js"></script>
    <script src="scripts/appTransferenciasBancoNix.js"></script>
</head>
<body ng-controller="ctrlTransferencias as transferencias">

    <header class="header">
        <h1 class="header__title">Transferências (<small>{{ transferencias.length }}</small>)</h1>
        <div>
            <div style="display: inline-block;">
                <select ng-model="tamanhoPagina" id="tamanhoPagina"  class="browser-default btn" style="padding: 0px 0px;">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </div>
        </div>
    </header>

    <main class="main">
        
        <transferencias></transferencias>

        <div>
            
            <div align="center" style="margin: 20px 0;">
                
            </div>
            <div align="center" style="margin: 20px 0;">
                <button ng-disabled="paginaAtual == 0" ng-click="paginaAtual=paginaAtual-1" class="waves-effect waves-light btn-small">Anterior</button>
                <span class="waves-effect waves-light btn disabled">{{paginaAtual+1}}/{{numeroDePaginas()}}</span>
                <button ng-disabled="paginaAtual >= transferenciasFiltradas().length/tamanhoPagina - 1" ng-click="paginaAtual=paginaAtual+1" class="waves-effect waves-light btn-small">Próximo</button>
            </div>
        </div>
    </main>

</body>
</html>